*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Oswald', sans-serif;
	font-size: 62.5%;
}
body {
	background: #2a2a2a;
	color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: 1.6rem;
	font-weight: 300;
}
.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1.6rem;
	width: 98%;
	height: 75vh;
}
.logo__image {
	align-items: top;
	display: flex;
	height: 15rem;
	justify-content: start;
	padding: 1.6rem;
	width: 15rem;
	margin: auto;
}
.header__one {
	font-size: 2.4rem;
}
@media only screen and (min-width: 600px) {
	.header__one {
		font-size: 6.4rem;
	}
}
.footer__bottom {
	align-items: center;
	border-top: 1px solid rgba(184, 135, 11, 0.4);
	display: flex;
	height: 5vh;
	justify-content: center;
	margin: auto;
	padding: 1.6rem;
	text-align: center;
	width: 98%;
}
.footer__link {
	color: rgba(254, 229, 167, 0.8);
	padding-left: 0.4rem;
	text-decoration: none;
}
